html,
body {
  height: 100%;
  background-color: black;
}

body .btn-secondary
{
  background-color:#7b2cbf;
  border-color: #e8d7fc;
}

#loginbox
{
	border:1px solid grey;
	padding:10px;
	border-radius:6px;
	background: rgb(249,249,249);
	background: linear-gradient(-45deg, #c8b6ff 0%, #7b2cbf 50%, #240046 100%);
	box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

* 
{
  box-sizing: border-box;
  color: #e8d7fc;
}

#container 
{
  padding: 10px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: min-content auto 50px;
  height: calc(100vh);
	background-color: black;
}

#header 
{
  background: #6f2da8;
  color: #e8d7fc;
  padding: 10px;
	align-items: center;
}

#center
{
  background-color: black
}

#content 
{
  background-color: black;
}

#content-center
{
	padding: 10px;
}

#map-ui
{
	padding: 10px;
	z-index: 1000; /* same level as leaflet zoom controls */
	position: absolute;
	right: 0; /* stick to the right border of the window*/
	display: flex;
	align-items: flex-end;
}

#footer 
{
  background: #6F2DA8;
	color:white;
  text-align: center;
}

#map 
{ 
	height: calc(100vh - 150px);
}



/*all elements in a popup have black font*/
popup *
{
	color: black;
}

/*head title have bold fonts & are larger than normal font size */
popup h1
{
	font-weight: 700;
	font-size: large;
}

#a {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	}



/*https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff*/