html,
body {
  height: 100%;
  background-color: black;
}

body .btn-secondary{
  background-color:#7b2cbf;
  border-color: #e8d7fc;
}

#loginbox{
    border:1px solid grey;
    padding:10px;
    border-radius:6px;
    background: rgb(249,249,249);
    background: linear-gradient(-45deg, #c8b6ff 0%, #7b2cbf 50%, #240046 100%);
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

* {
  box-sizing: border-box;
  color: #e8d7fc;
}

#container {
  padding: 10px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px auto 50px;
  height: calc(100vh);
	background-color: black;
}

#header {
  background: #6f2da8;
  color: #e8d7fc;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 200px;
  text-align: center;
}

#center{
  background-color: black
}

#content {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#content-center {
  grid-column: 2/6;
  /* border-top: solid rgb(200, 200, 200) 2px;
  border-bottom: solid rgb(200, 200, 200) 2px; */
  padding: 10px;


	/* display: flex;
	flex-flow: column;
	height: calc(100vh - 200px); */
}

#content-left {
  /* border: solid rgb(200, 200, 200) 2px; */
  padding: 10px;
  color : #e8d7fc
}

#myCanvas
{
  height: (100%-80px);
  width: 100%;
  background-color: white;
}

#elevations{
  height: 50%;
}

#content-right {
  /* border: solid rgb(200, 200, 200) 2px; */
  padding: 10px;
  color: #e8d7fc;
}

#footer {
  background: #6F2DA8;
	color:white;
  text-align: center;
}

.nav-left{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

/* #content-center
{
	height: calc(100vh - 200px) !important;
} */

#map 
{ 
	/* display: flex;
	flex-flow: column; */
	height: calc(100vh - 200px);
	/* height: 50% !important; */
	/* height: 100%; */
}

/* #elevations
{
	height: 50% !important;
} */

/*all elements in a popup have black font*/
popup *
{
	color: black;
}

/*head title have bold fonts & are larger than normal font size */
popup h1
{
	font-weight: 700;
	font-size: large;
}




/*https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff*/