<div id="main-wrapper">
	<div id="map-ui">
		
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Teams
			</button>

			<ul class="dropdown-menu bg-black text-white">
				<li class="dropdown-item bg-black text-white" onclick="set_team('black')"> 
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault0">
						None
				</li>

				<% for(color of team_colors){ %>
					<li class="dropdown-item bg-black text-white" onclick="set_team('<%= color %>')">
						<input style="background-color: <%= color %>;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault<%= color %>">
							Team <%= color %>
					</li>
				<% }%>
			</ul>
		</div>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Paths
			</button>

			<ul class="dropdown-menu bg-black text-white" id="path-dropdown">
				<!-- filled dynamically -->
			</ul>
		</div>

		<input type="file" id="selectedFile" style="visibility: hidden; width: 0; height: 0;" onchange="read_gpx_files(Array.from(document.getElementById('selectedFile').files))" multiple/>
		<div class="btn btn-secondary" onclick="document.getElementById('selectedFile').click();" style="position: relative; width: min-content; height: min-content;">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
				<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
				<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
			</svg>
		
		</div>
	</div>
		

	<div id="map" ondragover="event.preventDefault()" ondrop="event.preventDefault(); read_gpx_files(event.dataTransfer.files);"></div>

	<!-- <div id="chart-wrapper" style="width: 100%;"> -->
		<!-- By default the elevations are hidden (nothing selected) -->
		<canvas id="elevations" style="display: none; width: 100%;"> </canvas>
	<!-- </div> -->
</div>