<head>
    <title>ColoMap</title>
</head>
<center>
	<br>
	<br>
	<h1>
		Welcome to ColoMap!
	</h1>

	<br>
	<br>
	<br>

	<!--This site was created to dispatch and organize walks between different teams. <br>
	Our implementation offers features such as selecting a path, assigning that path to a team, displaying the elevation profile of the path selected... <br>
	When a user selects a path, they also have visuals corresponding to points of interest on that path, displaying more detailled when clicked. <br>
	The same points are on the elevation profile, and they can also be clicked for more details.-->
	Welcome to the website that will make your summer camp planning so much easier! <br>
	All you have to do is to assign a color to each of the counselors, and add hikes around your camp, and you're ready to go! <br>
	Head over to the Map tab to see all the paths. If you click on one, you will see a graph of the elevation and different points of interest. <br>
	Select a color in the dropdown to assign it to a counselor!
</center>