<head>
    <title>ColoMap</title>
</head>
<center> 
	<h1>
		Welcome to ColoMap!
	</h1>
</center>
	This site was created to dispatch and organize walks between different teams. <br>
	Our implementation offers features such as selecting a path, assigning that path to a team, displaying the elevation profile of the path selected... <br>
	When a user selects a path, they also have visuals corresponding to points of interest on that path, displaying more detailled when clicked. <br>
	The same points are on the elevation profile, and they can also be clicked for more details.