

<head>
    <title>ColoMap</title>
</head>
<div id="content">
	<div id="content-left">
			<!--<%- include('./partials/content-left') %>-->
	</div>
	<div id="content-center">
			<div id="map"></div>
			<canvas id="elevations" width="0" height="0"></canvas>
		</div>
	<div id="content-right">
		<%- include('./partials/content-right') %>
	</div>
</div>

<!-- INCLUDE SCRIPTS AND CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fast-xml-parser/4.0.12/fxparser.min.js"></script>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<!-- MAIN MAP SCRIPT -->
<script src="./js/vis-map.js"></script>