
<div id="content">
    <div id="content-left">
        <%- include('./partials/content-left') %>
    </div>
    <div id="content-center">
        <div id="map"></div>
    </div>
    <div id="content-right">
        <%- include('./partials/content-right') %>
    </div>
  </div>

 
<script src="./js/vis-map.js"></script>